@import url('https://use.typekit.net/ntw7erw.css');
$dark: #0F0F0F;
$light: #FDFDFD;
$medium-grey: #bfbfbf;
$light-grey: #EFEFEF;
$primary: #FFFA00;
$secondary: #FFCE0D;
$breakpoint-tablet: 860px;
$breakpoint-mobile: 680px;